@import '../../App.scss';

.services {


  .category {
    display: flex;
    justify-content: space-around;

    article {
      flex-basis: 30%;
      padding: 0 1px;
      position: relative;
    }

    .background-number {
      position: absolute;
      font-size: 160px;
      font-weight: bold;
      color: $green;
      opacity: 0.2;
      font-family: 'Signika', sans-serif;
      top: -80px;
      left: 0;
    }

    .category-title {
      font-size: 24px;
      font-weight: bold;
      margin: 0 0 12px 0;
    }

    span {
      font-weight: bold;
    }
  }
}